/* .card {
  position: relative;
  background-color: #fff;
  width: 500px;
  max-width: 85vw;
  max-height: 60vw;
  padding: 20px;
  height: 50vh;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
} */
/* .container {
	position: relative;
	height:50vh;
	max-height: 60vw;
	display: flex;
	justify-content: center;
	margin-top: 5vh;
	margin: auto;
	background-color: #000s;
} */
.swipe {
  position: absolute;
}

/* .content {
  position: absolute;
  bottom: 0;
  margin: 10px;
  padding: 10px;
  color: #fff;
}

.btnSet {
  position: absolute;
  width: 500px;
  bottom: -80px;
  display: flex;
  justify-content: space-around;
  margin: auto;
} */
/* .btnSet .btn-like {
  background-color: #ff7875;
}
.btnSet .btn-dislike {
  background-color: #595959;
}
.btnSet .btn-member {
  background-color: #ffe58f;
} */
